@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --nav-text-color: #555;
  --main-background-color: lightgray;
  --nav-background-color: rgb(221, 244, 252);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  margin: 5px;
  width: 60%;
  border: 1px solid lightgray;
}

.flex {
  display: flex;
}

.fit {
  height: 100%;
  width: 100%;
}

.column {
  flex-direction: column;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.relative {
  position: relative;
}

.center {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.white-card {
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 10px;
}

.card-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 10px;

}

.card-meta {
  font-family: 'Roboto Condensed', sans-serif;
  color: gray;
  font-size: 1em;
}

.page-title {
  font-size: 2em;
  text-align: center;
  margin: 5px auto 5px auto !important;
}

.menu-bar{
  background-color: var(--nav-background-color) !important;
}

.home-page{
  background-color: var(--main-background-color);
  color: rgb(66, 66, 66);
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.home-page-main-content {
  background-color: var(--main-background-color);
  color: rgb(66, 66, 66);
  flex-grow: 1;
  padding: 10px;
}

.side-bar {
  background-color: white;
  position: fixed;
  left: 0px;
  top: 0px;
  /* display: flex; */
  display: none;
  flex-direction: column;
  width: 225px;
  min-width: 225px;
  height: 100%;
  padding: 10px 10px 0px 10px;
  z-index: 2;
}

.top-bar {
  background-color: rgb(54, 54, 54);
  height: 50px;
  display: flex;
  align-items: center;
}

.top-bar-logo {
  border: 1px solid #DDD;
  padding: 2px;
  margin-left: 2px;
}

.top-bar-logo:hover {
  cursor: pointer;
}

.top-bar-nav-container {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.top-bar-nav-button {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(221, 221, 221);
  font-size: 1.5em;
  border-radius: 5px;
  padding: 8px 0px 8px 10px;
  background-color: Transparent;
  display: flex;
  align-items: center;
  border: none;
}

.top-bar-nav-button:hover {
  cursor: pointer;
}

.top-bar-nav-button:hover > span {
  text-decoration: underline;
  text-decoration-color: rgb(123, 172, 189);
}

.top-bar-nav-icon {
  margin-right: 5px;
  font-size: 1.1em;
}

.top-bar-nav-button:hover .top-bar-nav-icon {
  color: rgb(123, 172, 189);
}

.top-bar-menu-toggle {
  color: #DDD;
  display: flex;
  background: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0px;
}

.top-bar-menu-toggle:hover {
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54, 54, 54);
  position: absolute;
  height: calc(100vh - 30px - 50px);
  width: 100vw;
  z-index: 999;
}

@media (min-width: 700px) {
  .mobile-nav {
    display: none;
  }

  .top-bar-menu-toggle {
    display: none;
  }

  .top-bar-nav-container {
    display: flex;
  }
}

.logged-in-bar {
  width: 100%;
  background-color: black;
  height: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 1.2em;
}

.top-bar-profile {
  height: 80%;
  margin-right: 5px;
}

.user-menu-trigger {
  position: relative;
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-menu-trigger:hover {
  cursor: pointer;
  color: rgb(123, 172, 189);
}

.user-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  z-index: 3;
  position: absolute;
  top: 40px;
  right: 10px;
  padding: 5px 10px;
  border: 1px solid gray;
  pointer-events:inherit;
}

.user-menu-link {
  padding: 2px 0px;
}

.user-menu-link i {
  margin-right: 10px;
}

.user-menu-link:hover {
  color: rgb(123, 172, 189);
  cursor: pointer;
}

.register-page{
  background-color: var(--main-background-color);
  color: rgb(66, 66, 66);
  height: 100%;
}

.login-page{
  background-color: var(--main-background-color);
  color: rgb(66, 66, 66);
  height: 100%;
}

.splash-page-login-container {
  width: 300px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash-page-features-container {
  height: 300;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

@media(max-width: 760px ) {
  .stack-reverse-mobile {
    flex-direction: column;
    align-items: center;
  }
}


.side-bar-menu-button {
  border-radius: 5px;
  padding: 8px 0px 8px 10px;
  color: rgb(80, 80, 100);
  font-weight: bold;
  font-size: 20px;
  background-color: Transparent;
  width: 80%;
  display: flex;
  border: none;
}
.side-bar-menu-button:hover {
  /* background-color: #F4FDFF; */
  /* border: 1px solid gray; */
  /* box-shadow: 0px 0px 2px 1px teal; */
  color: rgba(0, 128, 128, 0.685);
}

#map {
  height: 100%;
  width:  100%;
  border-radius: 5px;
}

.map-container {
  width: 300px;
  height: 800px;
  flex-grow: 1;
  border-radius: 5px;
}

.animate-spinner {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.pagination-button {
  flex-grow: 1;
  background-color: rgb(221, 244, 252);
  border: 1px solid lightgrey;
  padding: 0px;
  height: 30px;
}

.pagination-input {
  font-size: 16px;
  text-align: center;
  border: 1px solid lightgrey;
  width: 30px;
  flex-grow: 2;
}

/* 
.custom-map-control-button {
  margin-bottom: 20px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 5px;
} */

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  height: 40px;
  cursor: pointer;
  margin: 5px;
  /* margin-bottom: 25px;
  margin-right: 10px */
}

.get-weather-button {
  margin-bottom: 30px;
}

.custom-map-control-button:hover {
  background: #ebebeb;
}

.map-tooltip-catch {
  max-width: 300px;
}

.map-tooltip-catch-image {
  margin: 10px 5px;
  border-radius: 5px;
}

.map-tooltip-image-container {
  display: 'flex';
  align-items: center;
  justify-content: center;
}

.close-modal:hover {
  cursor: pointer;
  /* box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3); */
  color: rgb(214, 214, 214);
}


.dropdown-menu > button,
.catch-filter-display {
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 20px;
  font-family: inherit;
  padding: 5px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  width: 150px;
}

/* show list below button when focus */
/* .dropdown-menu button:focus + ul {
  display: flex;
} */

.dropdown-menu ul {
  min-width: 150px;
  /* max-width: 300px; */
  display: none;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  z-index: 100;
}

/* dropdown-menu li button  */

.dropdown-menu li,
.dropdown-menu li button {
  display: flex;
  align-items: center ;
  background-color: white;
  list-style: none;
  white-space: nowrap;
  width: 100%;
  font-size: 20px;
  color: #464242;
  text-justify: center;
  font-family: inherit;
  border-radius: 5px;
}

.dropdown-menu li {
  height: 35px;
}

.dropdown-menu li span {
  padding-left: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu li:hover, 
.dropdown-menu button:hover {
  background-color: #eeeeee;
}

/* show nested ul within an li on over */
.dropdown-menu li:hover ul {
  display: block;
}

.species-list {
  max-height: 200px;
  overflow-y: auto;
}

.species-list li {
  padding: 0px;
}

.species-button, .dropdown-button {
  border: 0px;
  width: 100%;
  height: inherit;
  margin: 0;
} 

.dropdown-button:hover {
  cursor: pointer;
}


@keyframes spinner {
  0% {
    border-top: 5px dotted grey;
  }
  25% {
    border-right: 5px dotted grey;
  }
  50% {
    border-bottom: 5px dotted grey;
  }
  75% {
    border-left: 5px dotted grey;
  }
}

.loading-animation {
  border: 5px solid rgb(59, 59, 59);
  position: absolute;
  border-radius: 50%;
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  /* transform: translateX(-50%); */
}


.change-page {
  color: teal; 
}

.change-page:hover {
  color: gray;
  cursor: pointer;
}

.splash-page-link-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.splash-page-link {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

.splash-page-link:hover {
  color: rgb(124, 124, 124);
  cursor: pointer;
}

.splash-page-link-icon {
  width: 70px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.splash-page-link:hover > img {
  opacity: 0.5;
}

.file-input-label {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: Transparent;
  background-color: teal;
  color: white;
  display: inline-block;
}

.file-input-label:hover {
  background-color: gray;
}


.user-stats-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catch-stats-outer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.user-stats-card {
  font-size: 1.2em;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

@media(min-width: 760px) {
  .catch-stats-outer-container{
    flex-direction: row;
  }
}

.catch-stats-text-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}


.catch-stats-grid-row {
  display: flex;
  align-items: center;
}

.catch-stats-grid-column {
  font-family: 'Roboto Condensed', sans-serif;
}

.catch-stats-category {
  width: 100px;
}

.fishing-frequency-pie-container {
  width: 300px;
}

.feed-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-card-container {
  width: 95%;
  max-width: 500px;
}

.feed-card {
  width: 100% !important;
  max-width: 500px;
  margin: 5px 0px !important;
}